@page "/"

<PageTitle>Home</PageTitle>



<div id="blurCard">
    <img id="icoChipi" src="/css/images/Chipiwars.png" alt="ChipiWars" />
    <h1>Chipi Wars</h1>

    <a class="button-21" role="button" href="/BattleIA">1 VS IA</a>
    <a class="button-21 disable" role="button">1 VS 1</a>
</div>


